.cart__item {
    width: 100%;
    height: 100px;
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.cart__item-content {
    position: relative;
    width: 66.66666%;
}

.cart__item img {
    float: left;
    width: 100%;
    height: 100%;
}

.cart__item .cart__item-bottom button {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}

.cart__item-bottom p {
    margin: 0px;
    position: absolute;
    bottom: 0px;
}

.cart__item-image {
    height: 100%;
    width: 33%;
    margin: 0px;
}

p.cart__item-count {
    position: relative;
    margin: 0px 20px;
}

.cart__item-top p {
    margin-top: 0px;
}

.cart__item-bottom {
    padding-left: 10px;
    display: inline-block;
}

.cart__item-top {
    display: flex;
    padding-left: 10px;
}

.cart__item-selector {
    float: right;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0;
}