.product {
    float: left;
    padding: 10px;
    position: relative;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.product img {
    width: 100%;
}

.product__content {
    border: 1px solid;
    padding: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -4px;
}

span.product__content-title {
    float: left;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}

span.product__content-button button:hover {
    color: white;
    background: black;
    transition: 0.6s;
}

span.product__content-button {
    text-align: right;
    display: block;
}

span.product__content-button button {
    border-radius: 0px;
    border: 1px solid;
    cursor: pointer;
    width: 100px;
    padding: 5px 15px;
    font-weight: bold;
}

.product__price {
    position: absolute;
    top: 30px;
    right: 10px;
    color: #f1f1f1;
    background: #0D0D0D;
    padding: 15px;
}

.open {
    width: 33.3333%;
}

.closed {
    width: 25%;
}

@media only screen and (max-width: 768px) {
    .open {
        display: none;
    }
    
    .closed {
        width: 100%;
    }
}