.App {
  text-align: center;
}

.header span {
  margin: 10px;
}

.header {
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

span.header__left {
  position: absolute;
  left: 0;
  letter-spacing: 10px;
  font-size: 24px;
}

span.header__right {
  position: absolute;
  right: 0;
}

.header__right img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}


* {
  box-sizing: border-box;
}

.content {
  position: absolute;
  height: auto;
  width: 100%;
}

button {
  background: #FFFF;
}